.wrapperUserInfo {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 7px 2px;
}

.wrapperUserInfo > label {
  display: block;
  margin-bottom: 4px;
}

.wrapperUserInfo > input {
  padding: 5px;
  width: 100%;
}

.wrapperUserInfo > input:not(:last-child) {
  margin-bottom: 12px;
}

.listOrders,
.info {
  margin-bottom: 30px;
}

.btn,
.btnCoupon {
  padding: 8px 20px;
  border-radius: 20px;
  border-color: transparent;
  transition: transform 250ms ease-in-out;
}

.btnCoupon {
  min-width: 170px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.wrapperTotalPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalAmount {
  font-weight: 900;
}

.btn {
  min-width: 130px;
  background-color: #fff1ef;
  box-shadow: rgba(239, 13, 13, 0.25) 0px 0.0625em 0.0625em,
    rgba(114, 3, 3, 0.25) 0px 0.125em 0.5em,
    rgba(255, 187, 187, 0.1) 0px 0px 0px 1px inset;
}

.btn:hover,
.btn:focus,
.btnCoupon:focus,
.btnCoupon:hover {
  transform: scale3d(1.03, 1.03, 1.03);
}

@media screen and (min-width: 768px) {
  .wrapperUserInfo {
    padding: 20px;
    width: 450px;
  }

  .wrapperTotalPrice {
    justify-content: end;
    gap: 40px;
  }

  .listOrders {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
  }

  .btn {
    min-width: 150px;
  }
}

@media screen and (max-width: 1279px) {
  .wrapperUserInfo {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .wrapperUserInfo {
    flex-shrink: 0;
    width: 400px;
  }
}
